@charset "UTF-8";
/*PALETTE*/
/*UTILES*/
.left {
  float: left;
}

.right {
  float: right;
}

.border-bot {
  border-bottom: 2px solid black;
  margin-top: 117px;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

/*NAV*/
.navbar {
  background-color: #fff;
}

.navbar .navbar-nav .left > li,
.navbar .navbar-nav div > .right > li {
  display: inline;
  font-size: 24px;
}

.navbar .navbar-nav .left > li a,
.navbar .navbar-nav div > .right > li a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

.navbar .navbar-nav .left > #site-logo {
  position: relative;
  bottom: -25px;
}

.navbar .navbar-nav .left > #site-logo img {
  width: 100%;
}

/*SUBMENU*/
#subMenu {
  margin-top: 224px;
}

#subMenu a {
  text-decoration: none;
}

#subMenu .webSection {
  height: 450px;
}

#subMenu .webSection h2 {
  line-height: 450px;
  color: #fff;
  font-size: 60px;
  letter-spacing: 12px;
  text-align: center;
}

#subMenu .leStore {
  background: url("../imgs/leStore.jpg") top no-repeat;
  background-size: cover;
}

#subMenu .laStory {
  background: url("../imgs/laStory.jpg") top no-repeat;
  background-size: cover;
}

/*SELECTION*/
#selection {
  padding: 50px 0;
}

#selection img {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
  height: 200px;
}

#selection h3 {
  letter-spacing: 5px;
  color: #000;
  text-align: center;
}

/*CALL TO ACTION */
#callToAction .row {
  height: 360px;
  background-color: #ffbb20;
  color: #fff;
}

#callToAction .row .slogan img {
  height: 340px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#callToAction .row .slogan h2 {
  font-size: 5em;
  margin: 0 0 0 50px;
  z-index: 999;
}

#callToAction .row .slogan p {
  font-size: 2em;
  margin: 0 0 0 200px;
}

#callToAction .row .border {
  text-align: center;
  margin: 50px 50px 0 0;
  border: 1px solid #fff;
}

#callToAction .row .border .price {
  font-size: 2.5em;
  font-weight: bold;
}

#callToAction .row .border .hook {
  font-size: 18px;
}

/*OST*/
#ost {
  height: 300px;
  padding: 50px 0;
}

#ost .row div h2 {
  margin: 0;
  padding-left: 30px;
  font-size: 70px;
}

#ost .row div img {
  height: 150px;
  padding: 10px 30px;
}

#ost .row div .big-cover {
  width: 300px;
  height: auto;
}

/*footer*/
footer {
  background: url("../imgs/footer_bkg.jpg") top no-repeat;
  /*img à redimensionner sur photoshop*/
  height: 260px;
  color: white;
}

footer img {
  height: 50px;
}
