header{
	nav{
		img{
			display:block;
			margin:0 auto;
		}
		div.nav{
			width:100%;
			border-bottom: 1px solid black;
			ul{
				margin:0;
				padding:0;
				li{
					display:inline;
					color:#000;
					a{
						text-decoration:none;
						color:#000;
					}
				}
			}
		}
	}
}

#subMenu{
	margin-top: 100px;
	.webSection{
		background-color: red;
		height: 500px;
	}
	.leStore{
		background: url('../imgs/leStore.jpg') top no-repeat;
		background-size: cover;
	}
	.laStory{
		background: url('../imgs/laStory.jpg') top no-repeat;
		background-size: cover;
	}
}

.navbar-nav > li {
	float: none;
	vertical-align: bottom;
}
#site-logo {
	position: relative;
	vertical-align: bottom;
	bottom: -35px;
}
#site-logo a {
	margin-top: -53px;
}
