/*PALETTE*/
@font-face {
  font-family: "covesLight";
  src: url("../fonts/CovesLight.otf");
}

@font-face {
  font-family: "covesBold";
  src: url("../fonts/CovesBold.otf");
}

/*UTILES*/
body {
  font-family: "covesLight";
}

.left {
  float: left;
}

.right {
  float: right;
}

.border-bot {
  border-bottom: 2px solid black;
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

.mb {
  margin-bottom: 30px;
}

.mbLarge {
  margin-bottom: 75px;
}

p, h3 {
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 75px;
  letter-spacing: 10px;
  font-weight: 600;
  padding-top: 131px;
  color: #fff;
}

/*NAV*/
.navbar {
  background-color: #fff;
  border-bottom: 2px solid black;
}

.navbar form {
  padding: 0 20px;
  display: inline;
}

.navbar .navbar-collapse.collapse.in li {
  display: none;
}

.navbar .left {
  width: 30%;
}

.navbar ul li {
  display: inline;
}

@media screen and (max-width: 767px) {
  .navbar ul li {
    display: block;
  }
}

.navbar ul li.hidden-xs {
  font-size: 12px;
}

@media screen and (min-width: 995px) {
  .navbar ul li.hidden-xs {
    font-size: 18px;
  }
}

.navbar ul li.hidden-xs a {
  padding: 0 10px;
  font-size: 12px;
}

@media screen and (min-width: 995px) {
  .navbar ul li.hidden-xs a {
    font-size: 18px;
    padding: 0 20px;
  }
}

.navbar ul a {
  font-size: 20px;
  color: #000;
  padding: 0 20px;
}

@media screen and (min-width: 995px) {
  .navbar ul a {
    padding: 0 20px;
  }
}

.navbar .nav-user.right a, .navbar .nav-user.right span, .navbar .nav-user.right input {
  font-size: 14px;
}

.navbar .nav-user.right input {
  width: 175px;
  padding: 5px 5px 5px 10px;
  text-transform: uppercase;
}

.navbar .nav-content {
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.navbar a.search {
  position: absolute;
}

.navbar img.searchIcon {
  position: relative;
  width: 19px;
  left: -50px;
}

.navbar .connexion {
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 300px;
}

.navbar .connexion .connexion-box {
  height: 300px;
  background-color: #fff;
}

.navbar .connexion .connexion-box form {
  padding: 0;
}

.navbar .connexion .connexion-box h2 {
  padding-top: 50px;
  text-align: center;
}

.navbar .connexion .connexion-box input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.navbar .connexion .connexion-box .close {
  float: right;
}

.navbar .connexionHidden {
  display: none;
}

.navbar .hidden-xl {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar .hidden-xl {
    display: block;
  }
}

/*SUBMENU*/
#subMenu {
  margin-top: 131px;
}

#subMenu div {
  padding: 0;
}

#subMenu div img {
  width: 100%;
}

#subMenu div a {
  text-decoration: none;
}

#subMenu div h2 {
  position: absolute;
  top: 45%;
  width: 100%;
  left: 0;
  text-align: center;
  font-size: 48px;
  color: #fff;
  margin: 0;
  padding: 0;
}

/*CALL TO ACTION */
#callToAction {
  background-color: #ffd901;
  color: #fff;
}

#callToAction .slogan.col-md-3 {
  padding-left: 0;
}

#callToAction h2 {
  text-align: left;
  font-size: 65px;
  margin-bottom: 0;
}

#callToAction .slogan p {
  font-size: 35px;
  text-align: center;
  margin: 0;
}

#callToAction .border {
  border: solid 2px #fff;
  margin: 50px 70px 0 70px;
  font-size: 24px;
  text-align: center;
}

#callToAction .price {
  font-weight: 800;
  font-size: 30px;
}

/*SELECTION*/
#selection {
  min-height: 500px;
  padding: 50px 0;
  text-align: center;
}

#selection a {
  color: #000;
}

/*OST*/
#originalSoundTrack {
  min-height: 500px;
  background-color: gainsboro;
  padding: 75px 0;
}

#originalSoundTrack a {
  color: #000;
}

#originalSoundTrack .ost-right > h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

#originalSoundTrack .ost-right > p {
  font-size: 28px;
}

#originalSoundTrack .ost-right > img,
#originalSoundTrack .ost-right > h2,
#originalSoundTrack .ost-right > p {
  padding: 0 14px;
}

#originalSoundTrack .ost-left > img {
  width: 380px;
}

#originalSoundTrack .ost-right > img {
  width: 180px;
}

/* Le store */
.storeList #leStore {
  background: url("../assets/imgs/leStore2.jpg") bottom no-repeat fixed;
  background-size: cover;
}

.storeList h2 {
  color: black;
  font-size: 60px;
  margin: 0;
  letter-spacing: 10px;
  font-weight: 400;
}

.storeList h3 {
  margin-bottom: 35px;
}

.storeList h4 {
  font-weight: 400;
  font-size: 1.4em;
  letter-spacing: 3px;
}

.storeList .vinyles, .storeList .coffrets {
  background-color: #f0f0f0;
}

.storeList .vinyles, .storeList .coffrets, .storeList .platines {
  padding: 35px 0;
}

.storeList .platines {
  background: url("../assets/imgs/rainbowBg.png") top no-repeat;
}

.storeList .productList .col-md-3:nth-child(odd) .coffretItem {
  background-color: #f4901c;
}

.storeList .productList .col-md-3:nth-child(even) .coffretItem {
  background-color: #ffd901;
}

.storeList a {
  color: white;
}

.storeList a .coffretItem {
  width: 100%;
  height: 165px;
  line-height: 165px;
  text-align: center;
  border: 1px solid black;
}

.storeList .productContent {
  margin: 0px 15px;
  border-left: 1px solid gainsboro;
  padding-left: 50px;
  text-align: center;
}

.storeList .productContent .vinyleItem {
  margin-top: 30px;
  margin-bottom: 0;
}

.vinyleItem {
  margin-bottom: 40px;
}

.vinyleItem img {
  width: 100%;
}

/* Page produit */
#productPage {
  padding-top: 190px;
}

#productPage img.vinyleImg {
  width: 100%;
}

#productPage h1.vinyleTitle {
  font-family: "covesBold";
  margin: 0;
  font-size: 3em;
  letter-spacing: 3px;
  color: #000;
  padding-top: 0;
  text-align: left;
}

#productPage h4.bandName {
  font-size: 1.3em;
  margin-top: 0;
}

#productPage p.more {
  font-size: 1.3em;
  font-family: "covesBold";
}

#productPage .price {
  font-family: "covesBold";
  font-size: 2em;
}

#productPage .quantitySelector, #productPage .addToCart {
  background-color: #269be7;
  text-align: center;
  color: white;
  height: 50px;
}

#productPage .quantity {
  line-height: 50px;
  font-size: 1.3em;
}

#productPage .incrButton, #productPage .decrButton {
  line-height: 25px;
  cursor: pointer;
}

#productPage .addToCart {
  line-height: 50px;
  letter-spacing: 3px;
  cursor: pointer;
}

#productPage .desc {
  background-color: #99d0f3;
  padding: 15px;
  margin: 30px 0;
}

#productPage .ratingArea {
  background-color: #f0f0f0;
  padding: 30px 0;
}

#productPage .ratingArea .note, #productPage .ratingArea .moreNote {
  border: 1px solid #ffd901;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}

#productPage .ratingArea .note:hover, #productPage .ratingArea .moreNote:hover {
  background-color: #ffd901;
}

#productPage .ratingArea .moreNote {
  margin: 0;
}

#productPage .ratingArea .comment {
  background-color: #fff;
}

#productPage .ratingArea .comment .commentInfo {
  text-align: center;
  padding: 10px;
}

#productPage .ratingArea .comment .commentInfo .author {
  font-family: "covesBold";
  font-size: 1.3em;
}

#productPage .ratingArea .comment .commentContent {
  border-left: 1px solid gainsboro;
  padding: 20px;
}

#productPage .ratingArea .commentForm input {
  margin: 10px 0 10px 10px;
}

#productPage .ratingArea .commentForm textarea {
  margin: 10px 0 20px 10px;
}

#productPage .ratingArea .commentForm button {
  margin: 0 0 20px 10px;
}

#productPage .ratingArea .commentFormHidden {
  display: none;
}

/* List page */
#listProduct #lesDisques {
  background: url("../assets/imgs/list.jpg") bottom no-repeat fixed;
  background-size: cover;
}

#listProduct .vinyleItem {
  margin-bottom: 0;
}

#listProduct p {
  margin: 0;
}

#listProduct p.vinylTitle, #listProduct p.price {
  font-family: "covesBold";
}

#listProduct p.price {
  text-align: right;
}

#listProduct p.bandName {
  font-size: 14px;
}

#listProduct button.inc, #listProduct button.dec, #listProduct button.addToCart {
  width: 100%;
  border: none;
  background-color: #269be7;
  text-align: center;
  color: white;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  #listProduct button.inc, #listProduct button.dec {
    margin-bottom: 0;
  }
}

.sortBar {
  background-color: #f0f0f0;
  padding-bottom: 30px;
}

.sortBar select, .sortBar input, .sortBar button {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
}

/*Recherche*/
#Recherche #rechercheHeader {
  background: url("../assets/imgs/recherche_header.jpg") bottom no-repeat fixed;
  background-size: cover;
}

#Recherche a {
  color: #000;
}

#Recherche a :hover {
  color: #3f3f3f;
}

#Recherche a img {
  width: 340px;
}

.noresult {
  text-align: center;
  margin-bottom: 50px;
}

.noresult img {
  display: block;
  margin: 0 auto;
}

/*Story List*/
#storyList #storyListHeader {
  background: url("../assets/imgs/lastory_header.jpg") bottom no-repeat fixed;
  background-size: cover;
}

#storyList .articleContent {
  padding-left: 30px;
}

#storyList .articleContent .infos, #storyList .articleContent .desc {
  font-size: 18px;
}

#storyList a {
  color: #000;
}

#storyList a div {
  margin: 12px 0;
}

#storyList a div .imageArticle {
  width: 100%;
}

#storyList a div h2 {
  margin: 10px 0;
  font-size: 50px;
}

#storyList a div p {
  margin: 10px 0;
}

#storyList a :hover {
  color: #3f3f3f;
}

/*Story*/
#laStory {
  margin-top: 140px;
}

#laStory h2 {
  color: #000;
}

#laStory h3 {
  font-size: 20px;
}

#laStory .coupDeCoeur {
  margin: 20px 0;
}

#laStory .coupDeCoeur img {
  width: 100%;
}

#laStory .coupDeCoeur span {
  color: #000;
}

#laStory .selection h2 {
  font-size: 24px;
  padding-left: 15px;
}

#laStory .selection a {
  color: #000;
}

#laStory .selection a :hover {
  color: #3f3f3f;
}

#laStory .selection img {
  width: 260px;
}

/* Abonnement */
#abonnement .banner {
  margin-top: 130px;
  min-height: 570px;
  background-size: cover;
}

#abonnement .banner p {
  margin: 0;
}

#abonnement .banner .slogan {
  margin-top: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 40px 40px;
}

#abonnement .banner .slogan h2 {
  font-size: 35px;
  text-transform: uppercase;
  margin: 0;
}

#abonnement .banner .callToAction {
  text-align: center;
  background: #f0f0f0;
  padding: 20px;
  margin-top: 45px;
}

#abonnement .banner .callToAction p {
  margin: 0;
  line-height: 45px;
  font-size: 18px;
}

#abonnement .banner .callToAction button {
  border: none;
  background-color: #269be7;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 15px 25px;
  margin-left: 50px;
}

#abonnement .banner .callToAction button.offer {
  font-size: 15px;
  background-color: transparent;
  color: #269be7;
  border: 1px solid #269be7;
}

#abonnement .description {
  padding-top: 25px;
  text-align: center;
}

#abonnement .description h2 {
  border: 1px solid #269be7;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  color: #269be7;
}

#abonnement .description img {
  width: 75%;
}

@media screen and (max-width: 992px) {
  #abonnement .description img {
    width: 35%;
  }
}

#abonnement .boxes {
  background-color: #f0f0f0;
  padding: 50px 0;
}

#abonnement .boxes .tabButton {
  background-color: white;
  padding: 25px;
  text-align: center;
  cursor: pointer;
}

#abonnement .boxes .boxContent {
  background-color: white;
  padding: 25px;
}

#abonnement .boxes .boxContent .boxChoice {
  text-align: center;
  border: 2px solid whitesmoke;
  padding: 15px;
  cursor: pointer;
  min-height: 200px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#abonnement .boxes .boxContent .boxChoice:hover {
  border-color: #269be7;
}

#abonnement .boxes .boxContent .boxChoice.active {
  border-color: #269be7;
}

#abonnement .boxes .boxContent .info {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 10px;
  text-align: center;
  margin-bottom: 25px;
}

/* ShoppingCart */
.cart .item p, .cart .item span {
  font-size: 13px;
}

.cart img.itemImg {
  width: 100%;
}

.cart .cartEmpty {
  text-align: center;
}

.cart ul.dropdown-cart {
  min-width: 250px;
}

.cart ul.dropdown-cart li .item {
  display: block;
  padding: 3px 10px;
  margin: 3px 0;
}

.cart ul.dropdown-cart li .item:hover {
  background-color: #f3f3f3;
}

.cart ul.dropdown-cart li .item:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.cart ul.dropdown-cart li .item-left {
  float: left;
}

.cart ul.dropdown-cart li .item-left img {
  width: 50px;
}

.cart ul.dropdown-cart li .item-left img,
.cart ul.dropdown-cart li .item-left span.item-info {
  float: left;
}

.cart ul.dropdown-cart li .item-left span.item-info {
  margin-left: 10px;
}

.cart ul.dropdown-cart li .item-left span.item-info span {
  display: block;
}

.cart ul.dropdown-cart li .item-right {
  float: right;
}

.cart ul.dropdown-cart li .item-right button {
  margin-top: 14px;
}

/* Basket */
#cartPage h3 {
  padding-top: 131px;
  color: black;
  text-align: center;
}

#cartPage h3.finalise {
  margin: 50px 0;
}

#cartPage .assurance {
  font-size: 14px;
  margin-bottom: 24px;
}

#cartPage .assurance .tick {
  width: 20px;
}

#cartPage .deliveryAddress, #cartPage .deliveryPayment, #cartPage .deliveryMode, #cartPage .purchase, #cartPage .facturationAddress {
  border-top: 1px solid gainsboro;
  padding-top: 24px;
  margin-top: 24px;
}

#cartPage .deliveryAddress button.validate, #cartPage .deliveryPayment button.validate, #cartPage .deliveryMode button.validate, #cartPage .purchase button.validate, #cartPage .facturationAddress button.validate {
  background-color: #269be7;
  border: none;
  text-align: center;
  color: white;
  padding: 20px;
  margin-bottom: 24px;
}

#cartPage .optionDelivery {
  background-color: #f0f0f0;
  width: 100%;
  padding: 25px;
  margin-bottom: 10px;
}

#cartPage .optionDelivery span {
  margin-left: 15px;
}

#cartPage .optionDelivery .edit {
  cursor: pointer;
}

#cartPage .optionDelivery .edit:hover {
  color: #269be7;
  cursor: pointer;
}

#cartPage .optionDelivery.clickable {
  border: 2px solid transparent;
}

#cartPage .optionDelivery.clickable:hover {
  cursor: pointer;
  border: 2px solid #269be7;
}

#cartPage .optionDelivery.clickable.active {
  border: 2px solid #269be7;
}

#cartPage input {
  padding: 10px;
  width: 100%;
  margin-top: 25px;
}

#cartPage .validate {
  background-color: #269be7;
  color: white;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#cartPage .validate:hover {
  color: white;
  background-color: #1680c4;
}

#cartPage .validateAndSave {
  background-color: white;
  color: #269be7;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#cartPage .validateAndSave:hover {
  color: white;
  background-color: #269be7;
}

#cartPage .validate, #cartPage .validateAndSave {
  margin-top: 25px;
  width: 100%;
  border: none;
  border: 1px solid #269be7;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
}

#cartPage .basket {
  background-color: #f0f0f0;
  padding: 10px;
}

#cartPage .item {
  margin-bottom: 15px;
}

#cartPage .item .content {
  border: 1px solid gainsboro;
  padding: 10px;
}

#cartPage .item .content .title {
  margin: 0;
}

/*Page contact*/
.contact #leContact {
  background: url("../assets/imgs/leStore2.jpg") bottom no-repeat fixed;
  background-size: cover;
}

.contact .contactForm {
  border-top: 1px solid gainsboro;
  padding-top: 24px;
  margin-top: 24px;
}

.contact .contactForm button.validate {
  background-color: #269be7;
  border: none;
  text-align: center;
  color: white;
  padding: 20px;
  margin-bottom: 24px;
}

.contact .contactForm input {
  padding: 10px;
  width: 100%;
  margin-top: 25px;
}

.contact .contactForm textarea {
  padding: 10px;
  width: 100%;
  height: auto;
  resize: none;
  margin-top: 25px;
}

.contact .contactForm .validate {
  background-color: #269be7;
  color: white;
  margin-top: 25px;
  width: 100%;
  border: none;
  border: 1px solid #269be7;
  text-align: center;
  cursor: pointer;
  padding: 15px 25px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.contact .contactForm .validate:hover {
  color: white;
  background-color: #1680c4;
}

/*footer*/
footer {
  background-color: #3f3f3f;
  color: #fff;
  padding: 15px 0;
}

footer .about a {
  font-size: 18px;
  color: #fff;
}

footer ul > li {
  list-style-type: none;
}

footer .social ul {
  padding-left: 0;
  text-align: center;
}

footer .social li {
  display: inline;
}

footer .newsletter p {
  font-size: 24px;
  margin: 0;
}

footer .newsletter input {
  padding: 5px;
}

footer img {
  height: 50px;
  margin: 0 15px;
}

/* LOADER */
#preloaderContainer {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

#preloaderContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* ANIMATIONS */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}

.fade-enter, .fade-leave-active {
  opacity: 0.2;
  transform: translateY(20px);
}
