/*PALETTE*/
$black : #000;
$white : #fff;
$yellow : #ffbb20;
$beige: #f0f0f0;
$grey: rgb(220, 220, 220);
$orange: #f4901c;
$yellow: #ffd901;

/*UTILES*/
.left{float:left;}

.right{float:right;}

.border-bot{
  border-bottom:2px solid black;
}

.nopadding{padding:0;}

.nomargin{margin:0;}


/*NAV*/


.navbar{
  background-color:$white;

  .logo{padding:14px;}

  ul {
    li {
      font-size: 18px;
      display:inline;
    }
    a {
      color : $black;
      padding: 0 20px;
    }
  }

  .nav-content{
    margin:0 auto;
    text-align:center;
  }

  border-bottom:2px solid black;
}

/*SUBMENU*/
#subMenu{
  margin-top: 223px;
  a{text-decoration: none;}
  .webSection{
    height: 450px;
    h2{
      line-height: 450px;
      color:$white;
      font-size: 60px;
      letter-spacing: 12px;
      text-align: center;
    }
  }
  .leStore{
    background: url('../assets/imgs/leStore.jpg') top no-repeat;
    background-size: cover;
  }
  .laStory{
    background: url('../assets/imgs/laStory.jpg') top no-repeat;
    background-size: cover;
  }
}

/*SELECTION*/
#selection{
  padding: 50px 0;
  img{
    padding-top:20px;
    display:block;
    margin: 0 auto;
    height:200px;
  }
  h3{
    letter-spacing: 5px;
    color:$black;
    text-align: center;
  }

}

/*CALL TO ACTION */
#callToAction{
  .row{
    height:360px;
    background-color:$yellow;
    color:$white;
    .slogan{
      img{
        height:340px;
        position:absolute;
        bottom: -120px;
        left:0;
      }
      h2{
        font-size: 5em;
        margin: 0 0 0 50px;
        z-index: 999;
      }
      p{
        font-size: 2em;
        margin: 0 0 0 200px;
      }
    }

    .border{
      text-align: center;
      margin: 50px 50px 0 0;
      border:1px solid $white;
      .price{
        font-size:2.5em;
        font-weight: bold;
      }
      .hook{font-size: 18px}
    }
  }
}

/*OST*/
#ost{
  height:300px;
  padding: 50px 0;
  .row div{
    h2{
      margin:0;
      padding-left: 30px;
      font-size: 70px;
    }
    img{
      height:150px;
      padding:10px 30px;
    }
    .big-cover{
      width:300px;
      height:auto;
    }
  }
}

/* Le store */
.storeList{
  h1{
    text-align: center;
    font-size: 75px;
    letter-spacing: 10px;
    font-weight: 600;
    padding-top: 250px;
  }
  h2{
    color: black;
    font-size: 60px;
    margin: 0;
    letter-spacing: 10px;
    font-weight: 400;
  }
  h3{
    margin-bottom: 35px;
  }
  h4{
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 3px;
  }
  .vinyles, .coffrets{
    background-color: $beige;
  }
  .vinyles, .coffrets, .platines{
    padding: 35px 0;
  }
  .platines{
    background: url('../assets/imgs/rainbowBg.png') top no-repeat;
  }
  .vinyleItem{
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  .productList{
    .col-md-3:nth-child(odd) .coffretItem{
      background-color: $orange;
    }
    .col-md-3:nth-child(even) .coffretItem{
      background-color: $yellow;
    }
  }
  a{
    color: white;
    .coffretItem{
      width: 100%;
      height: 165px;
      line-height: 165px;
      text-align: center;
      border: 1px solid black;
    }
  }
  .productContent{
    margin: 0px 15px;
    border-left: 1px solid $grey;
    padding-left: 50px;
    text-align: center;
    .vinyleItem{
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}


/*footer*/
footer{
  background: url('../assets/imgs/footer_bkg.jpg') top no-repeat; /*img à redimensionner sur photoshop*/
  height:260px;
  color: white;

  img{height:50px;}
}
