/*PALETTE*/
$black : #000;
$white : #fff;
$yellow : #ffbb20;
$beige: #f0f0f0;
$grey: rgb(220, 220, 220);
$grey_black: #3f3f3f;
$orange: #f4901c;
$yellow: #ffd901;
$blue: #269be7;
$blueLight: #99d0f3;

@font-face {
  font-family: "covesLight";
  src: url('../fonts/CovesLight.otf');
}
@font-face {
  font-family: "covesBold";
  src: url('../fonts/CovesBold.otf');
}
// MIXIN
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

/*UTILES*/
body{font-family: "covesLight";}

$sectionheight : 500px;
.left{float:left;}

.right{float:right;}

.border-bot{border-bottom:2px solid black;}

.nopadding{padding:0;}

.nomargin{margin:0;}

.mb{
  margin-bottom: 30px;
}

.mbLarge{
  margin-bottom: 75px;
}

p, h3{font-size: 24px;}

h1{
  text-align: center;
  font-size: 75px;
  letter-spacing: 10px;
  font-weight: 600;
  padding-top: 131px;
  color: $white;
}

/* ALL */
.quantitySelector, .addToCart{
  background-color: $blue;
  text-align: center;
  color: white;
  height: 50px;
  border: none;
  line-height: 50px;
  cursor: pointer;
  margin: 10px 0 50px 0;
  @include transition(.2s);
  &:hover{
    box-shadow: -5px 5px rgba(0,0,0,0.3);
  }
}
.inc, .dec{
  background-color: lighten($blue, 10);
  text-align: center;
  color: white;
  font-size: 1.3em;
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  width: 40px;
  margin: 10px 10px 50px 0;
  &:hover{
    background-color: $blue;
  }
}
.del{
  background-color: transparent;
  text-align: center;
  color: white;
  font-size: 1.3em;
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 50px;
  width: 40px;
  margin: 10px 10px 50px 0;
  img{width: 20px;}
  &:hover{
    background-color: rgba(255, 0, 0, 0.3);
  }
}

/*NAV*/
.navbar{
  background-color:$white;
  border-bottom:2px solid black;
  form{
    padding:0 20px;
    display: inline;
    input{
      padding: 5px;
    }
  }
  .navbar-collapse.collapse.in li{
    display: none;
  }
  .left{
    width: 30%;
  }
  ul {
    li {
      display:inline;
      @media screen and (max-width: 767px) {
        display: block;
      }
      &.hidden-xs{
        font-size: 12px;
        @media screen and (min-width: 995px) {
          font-size: 18px;
        }
      }
      &.hidden-xs{
        a{
          padding: 0 10px;
          font-size: 12px;
          @media screen and (min-width: 995px) {
            font-size: 18px;
            padding: 0 20px;
          }
        }
      }
    }
    a, .total {
      font-size: 20px;
      color : $black;
      padding: 0 10px;
      @media screen and (min-width: 995px) {
        padding: 0 10px;
      }
    }
  }
  .nav-user.right a, .nav-user.right span, .nav-user.right input{
    font-size: 14px;
  }
  .nav-user.right input{
    width: 175px;
    padding: 5px 5px 5px 10px;
    text-transform: uppercase;
  }
  .nav-content{
    margin:0 auto;
    text-align:center;
    background-color: white;
  }
  a.search{
    position: absolute;
  }
  img.searchIcon{
    position: relative;
    width: 19px;
    left: -50px;
  }

  .connexion{
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    min-height: 100%;
    position:fixed;
    top:0;
    left:0;
    padding-top: 300px;

    .connexion-box{
      height:400px;
      background-color: $white;
      form{padding:0;}
      .top-title{padding-top:50px;}
      h2{text-align: center;}
      .register-link{margin:0 auto;}
      input{
        margin:10px 0;
        padding: 10px;
        width:100%;
      }
      .close{float:right;}
    }
  }

  .register{
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    min-height: 100%;
    position:fixed;
    top:0;
    left:0;
    padding-top: 300px;

    .register-box{
      height:400px;
      background-color: $white;
      form{padding:0;}
      h2{
        padding-top:50px;
        text-align: center;
      }
      input{
        margin:10px 0;
        padding: 10px;
        width:100%;
      }
      .close{float:right;}
    }
  }
  .connexionHidden{
    display:none;
  }
  .registerHidden{
    display:none;
  }
  .hidden-xl{
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}

/*SUBMENU*/
#subMenu{
  margin-top: 128px;

  div{
    padding: 0;
    img{
      width: 100%;
    }

    a{text-decoration: none;}

    h2 {
      position: absolute;
      top: 45%;
      width: 100%;
      left: 0;

      text-align: center;
      font-size: 48px;
      color:#fff;

      margin: 0;
      padding: 0;
    }
    &.card{
      height: 65vh;
    }
    &.card:hover .cardBg, .cardEvent:hover .cardBg{
      visibility: visible;
      opacity: 1;
    }

    &.cardBg{
      background: rgb(14,134,214); /* Old browsers */
      background: -moz-linear-gradient(-45deg, rgba(14,134,214,0.3) 0%, rgba(237,232,109,0.3) 99%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(14,134,214,0.3) 0%,rgba(237,232,109,0.3) 99%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(14,134,214,0.3) 0%,rgba(237,232,109,0.3) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e86d6', endColorstr='#ede86d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      filter: alpha(opacity=30);

      height: 100%;
      opacity: 0;
      transition: visibility 0s, opacity 0.2s ease;
    }
  }
}

/*CALL TO ACTION */
#callToAction{
  background-color: $yellow;

  color:$white;
  .slogan.col-md-3 {
    padding-left: 0;
  }
  h2{
    text-align: left;
    font-size: 65px;
    margin-bottom: 0;
  }

  .slogan p {
    font-size:35px;
    text-align: center;
    margin: 0;
  }

  .border{
    border: solid 2px #fff;
    margin: 50px 70px 0 70px;
    font-size:24px;
    text-align: center;
  }

  .price{
    font-weight: 800;
    font-size: 30px;
  }
  button{
    border: 2px solid $white;
    background-color: $white;
    text-align: center;
    color: $yellow;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 15px 25px;
    @include transition(.2s);
    &:hover{
      box-shadow: -5px 5px rgba(0,0,0,0.3);
    }
  }
}

/*SELECTION*/
#selection{
  min-height:$sectionheight;
  padding:50px 0;
  text-align: center;
  a{
    color: $black;
  }

  img{width:100%;}
}

/*OST*/
#originalSoundTrack{
  min-height:$sectionheight;
  background-color:$grey;
  padding: 75px 0;
  img{
    width: 100%;
  }

  a{color: $black;}

  .ost-right h2{
    font-size: 36px;
    margin-bottom: 20px;
  }
  .ost-right p{
    font-size: 28px;
  }

  .ost-right img,
  .ost-right h2,
  .ost-right p {padding:0 14px;}

  .ost-left a img{width:380px;}
  .ost-right div a img{width:180px;}
}


/* Le store */
.storeList{
  #leStore{
    background: url('../assets/imgs/leStore2.jpg') bottom no-repeat fixed;
    background-size: cover;
  }
  h2{
    color: black;
    font-size: 60px;
    margin: 0;
    letter-spacing: 10px;
    font-weight: 400;
  }
  h3{
    margin-bottom: 35px;
  }
  h4{
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 3px;
  }
  .vinyles, .coffrets{
    background-color: $beige;
  }
  .vinyles, .coffrets, .platines{
    padding: 35px 0;
  }
  .platines{
    background: url('../assets/imgs/rainbowBg.png') top no-repeat;
  }

  .productList{
    .col-md-3:nth-child(odd) .coffretItem{
      background-color: $orange;
    }
    .col-md-3:nth-child(even) .coffretItem{
      background-color: $yellow;
    }
  }
  a{
    color: white;
    .coffretItem{
      width: 100%;
      height: 165px;
      line-height: 165px;
      text-align: center;
      border: 1px solid black;
    }
  }
  .productContent{
    margin: 0px 15px;
    border-left: 1px solid $grey;
    padding-left: 50px;
    text-align: center;
    .vinyleItem{
      margin-top: 30px;
      margin-bottom: 0;
    }
  }
}
.vinyleItem{
  margin-bottom: 40px;
  img{
    width: 100%;
  }
}

/* Page produit */
#productPage{
  padding-top: 190px;
  input{
    color: black;
  }
  img.vinyleImg{
    width: 100%;
  }
  h1.vinyleTitle{
    font-family: "covesBold";
    margin: 0;
    font-size: 3em;
    letter-spacing: 3px;
    color: $black;
    padding-top: 0;
    text-align: left;
  }
  h4.bandName{
    font-size: 1.3em;
    margin-top: 0;
  }
  p.more{
    font-size: 1.3em;
    font-family: "covesBold";
  }
  .price{
    font-family: "covesBold";
    font-size: 2em;
  }

  .quantity{
    line-height: 50px;
    font-size: 1.3em;
  }
  .incrButton, .decrButton{
    line-height: 25px;
    cursor: pointer;
  }

  .desc{
    background-color: $blueLight;
    padding: 15px;
    margin: 30px 0;
  }
  .ratingArea{
    background-color: $beige;
    padding: 30px 0;
    .note, .moreNote, .validate{
      border: 1px solid $yellow;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      color: $black;
      margin-bottom: 20px;
      margin-top: 0;
      @include transition(.2s);
      &:hover{
        background-color: $yellow;
      }
    }
    .validate{
      background-color: $yellow;
      padding: 20px !important;
      @include transition(.2s);
      &:hover{
        box-shadow: -2px 2px rgba(0,0,0,0.3);
      }
    }
    .moreNote{margin: 0;}
    .comment{
      background-color: $white;
      .commentInfo{
        text-align: center;
        padding: 10px;
        .author{
          font-family: "covesBold";
          font-size: 1.3em;
        }
      }
      .commentContent{
        border-left: 1px solid $grey;
        padding: 20px;
      }
    }
    .commentForm{
      input, textarea, button{
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
      }
    }
    .commentFormHidden{display:none}
  }
}


/* List page */
#listProduct{
  #lesDisques{
    background: url('../assets/imgs/list.jpg') bottom no-repeat fixed;
    background-size: cover;
  }
  .vinyleItem{
    margin-bottom: 0;
  }
  p{margin: 0;}
  p.vinylTitle, p.price{
    font-family: "covesBold";
  }
  p.price{
    text-align: right;
  }
  p.bandName{
    font-size: 14px;
  }
}

.sortBar{
  background-color: $beige;
  padding-bottom: 30px;
  select, input, button{
    width: 100%;
    padding: 10px;
    margin-top: 30px;
  }
}


/*Recherche*/
#Recherche{
  #rechercheHeader{
    background: url('../assets/imgs/recherche_header.jpg') bottom no-repeat fixed;
    background-size: cover;
  }

  a{
    color:$black;
    :hover{color:$grey_black;}
    img{width:340px;}
  }
}

.noresult{
  text-align:center;
  img{
    display:block;
    margin:0 auto;
  }
  margin-bottom:50px;
}

/*Story List*/
#storyList{
  #storyListHeader{
    background: url('../assets/imgs/lastory_header.jpg') bottom no-repeat fixed;
    background-size: cover;
  }
  .articleContent{
    padding-left: 30px;
    .title{

    }
    .infos, .desc{
      font-size: 18px
    }
  }
  a{
    color:$black;
    div{
      margin: 12px 0;
      .imageArticle{
        width: 100%;
      }
      h2{
        margin:10px 0;
        font-size: 50px;
      }
      p{margin:10px 0;}
    }
    :hover{color:$grey_black;}
  }
}

/*Story*/
#laStory{
  margin-top:140px;
  h2{
    color:$black;
  }
  h3{font-size: 20px;}
  .coupDeCoeur{
    margin:20px 0;
    img{width:100%;}
    span{color:$black;}
  }

  .selection{
    h2{
      font-size: 24px;
      padding-left:15px;
    }

    a{
      color:$black;
      :hover{color:$grey_black;}
    }

    img{
      width:50px;
    }
  }
}

/* Abonnement */
#abonnement{
  .banner{
    margin-top: 128px;
    min-height: 570px;
    background-size: cover;
    p{
      margin: 0;
    }
    .slogan{
      margin-top: 60px;
      color: white;
      background-color: rgba(0,0,0,0.2);
      padding: 40px 40px;
      h2{
        font-size: 35px;
        text-transform: uppercase;
        margin: 0;
      }
    }
    .callToAction{
      text-align: center;
      background: $beige;
      padding: 20px;
      margin-top: 45px;
      p{
        margin:0;
        line-height: 45px;
        font-size: 18px;
      }
      button{
        border: none;
        background-color: $blue;
        text-align: center;
        color: white;
        cursor: pointer;
        padding: 15px 25px;
        margin-left: 50px;
        font-size: 18px;
      }
      button.offer{
        background-color: transparent;
        color: $blue;
        border: 1px solid $blue;
        @include transition(.2s);
        &:hover{
          background-color: $blue;
          color: $white;
          border: 1px solid $blue;
        }
      }
    }
  }
  .description{
    padding-top: 25px;
    text-align: center;
    h2{
      border: 1px solid $blue;
      padding: 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: $blue;
    }
    img{
      width: 75%;
      @media screen and (max-width: 992px) {
        width: 35%;
      }
    }
  }
  #boxes{
    background-color: $beige;
    padding: 50px 0;
    .tabButton{
      background-color: white;
      padding: 25px;
      text-align: center;
      cursor: pointer;
      height: 110px;
    }
    .boxContent{
      background-color: white;
      padding: 25px 25px 0 25px;
      .boxChoice{
        text-align: center;
        border: 2px solid rgb(245, 245, 245);
        padding: 15px;
        cursor: pointer;
        min-height: 200px;
        margin-bottom: 25px;
        @include transition(.3s);
        &:hover{
          border-color: $blue;
        }
        &.active{
          border-color: $blue;
        }
        button{
          font-size: 18px;
          padding: 5px;
          height: auto;
          margin-bottom: 20px;
        }
      }
      .info{
        background-color: rgba(245, 245, 245, 0.7);
        padding: 10px;
        text-align: center;
        margin-bottom: 25px;
      }
    }
  }
}

/* ShoppingCart */
.cart{
  .item{
    p, span{
      font-size: 13px;
    }
    .inc, .dec, .del {
      height: 100%;
      margin: 0;
    }
  }
  img.itemImg {
    width: 100%;
  }
  .cartEmpty{
    text-align: center;
  }
  ul.dropdown-cart{
    min-width: 310px;
  }
  ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
  }
  ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
  }
  ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  ul.dropdown-cart li .item-left{
    float:left;
  }
  ul.dropdown-cart li .item-left img{
    width: 50px;
  }
  ul.dropdown-cart li .item-left img,
  ul.dropdown-cart li .item-left span.item-info{
    float:left;
  }
  ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
  }
  ul.dropdown-cart li .item-left span.item-info span{
    display:block;
  }
  ul.dropdown-cart li .item-right{
    float:right;
  }
}

/* Basket */
#cartPage{
  h3{
    padding-top: 131px;
    color: black;
    text-align: center;
  }
  h3.finalise{
    margin: 50px 0;
  }
  .assurance{
    font-size: 14px;
    margin-bottom: 24px;
    .tick{
      width: 20px;
    }
  }
  .deliveryAddress, .deliveryPayment, .deliveryMode, .purchase, .facturationAddress{
    border-top: 1px solid $grey;
    padding-top: 24px;
    margin-top: 24px;
    button.validate{
      background-color: $blue;
      border: none;
      text-align: center;
      color: white;
      padding: 20px;
      margin-bottom: 24px;
    }
  }
  .optionDelivery{
    background-color: $beige;
    width: 100%;
    padding: 25px;
    margin-bottom: 10px;
    span{
      margin-left: 15px;
    }
    .edit{
      cursor: pointer;
      &:hover{
        color: $blue;
        cursor: pointer;
      }
    }
    &.clickable{
      border: 2px solid transparent;
      &:hover{
        cursor: pointer;
        border: 2px solid $blue;
      }
      &.active{
        border: 2px solid $blue;
      }
    }
  }
  input{
    padding: 10px;
    width: 100%;
    margin-top: 25px;
  }
  .validate{
    background-color: $blue;
    color: white;
    @include transition(.1s);
    &:hover{
      color: white;
      background-color: darken($blue, 10%);
    }
  }
  .validateAndSave{
    background-color: white;
    color: $blue;
    @include transition(.1s);
    &:hover{
      color: white;
      background-color: $blue;
    }
  }
  .validate, .validateAndSave{
    margin-top: 25px;
    width: 100%;
    border: none;
    border: 1px solid $blue;
    text-align: center;
    cursor: pointer;
    padding: 15px 25px;
  }
  .basket{
    background-color: $beige;
    padding: 10px;
    h3{
      margin-bottom: 5px;
    }
    .nbProducts{
      font-weight: 800;
      font-size: 22px;
      text-align: center;
      background-color: $white;
      padding: 5px;
      margin-top: 10px;
      border: 1px solid $black;
    }
    .itemCard{
      margin-bottom: 25px;
      .title, .qty{
        font-size: 18px;
      }
    }
  }
}

/*Page contact*/
.contact {
  #leContact{
    background: url('../assets/imgs/contact_header.jpg') bottom no-repeat fixed;
    background-size: cover;
  }
  .contactForm{
    border-top: 1px solid $grey;
    padding-top: 24px;
    margin-top: 24px;
    button.validate{
      background-color: $blue;
      border: none;
      text-align: center;
      color: white;
      padding: 20px;
      margin-bottom: 24px;
    }
    input{
      padding: 10px;
      width: 100%;
      margin-top: 25px;
    }
    textarea {
      padding: 10px;
      width: 100%;
      height: auto;
      resize: none;
      margin-top: 25px;
    }
    .validate{
      background-color: $blue;
      color: white;
      margin-top: 25px;
      width: 100%;
      border: none;
      border: 1px solid $blue;
      text-align: center;
      cursor: pointer;
      padding: 15px 25px;
      @include transition(.1s);
      &:hover{
        color: white;
        background-color: darken($blue, 10%);
      }
    }
  }
}

/*Page l'équipe*/
.equipe {
  p{
    text-align: center;
  }
  #lequipe{
    background: url('../assets/imgs/contact_header.jpg') bottom no-repeat fixed;
    background-size: cover;
  }
  .profiles {
    margin: 20px 0;
    padding: 5px;
    .profilecard {
      display: block;
      margin: 30px 0;
      h3, h2 {
        text-align: center;
        margin: 0;
      }
      h2{
        font-weight: 200;
        font-style: italic;
      }
      img{
        width: 100%;
        border: 2px solid $blue;
      }
    }
  }
}

/*Page mentions légales*/
.mentions {
  #laMention{
    background: url('../assets/imgs/contact_header.jpg') bottom no-repeat fixed;
    background-size: cover;
  }
  img{
    width: 100%;
    margin-bottom: 30px;
  }
}

/*footer*/
footer{
  // background: url('../assets/imgs/footer_bkg.jpg') top no-repeat; /*img à redimensionner sur photoshop*/
  background-color: $grey_black;
  color: $white;
  padding: 15px 0;

  .about a{
    font-size: 18px;
    color: $white;
  }

  ul > li {list-style-type: none}

  .social{
    ul{
      padding-left:0;
      text-align: center;
    }
    li {display:inline;}
  }

  .newsletter{
    p{
      font-size: 24px;
      margin: 0;
    }
    input{
      padding: 5px;
    }
  }

  img{
    height:50px;
    margin:0 15px;
  }
}

/* LOADER */
#preloaderContainer{
  position : fixed;
  z-index: 9999;
  background-color : $white;
  top : 0px;
  left : 0px;
  height : 100%;
  width : 100%;
}

#preloaderContainer img{
  position : absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

/* ANIMATIONS */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}
.fade-enter, .fade-leave-active{
  opacity: 0.2;
  transform: translateY(20px);
}
