/*PALETTE*/
$black : #000;
$white : #fff;
$yellow : #ffbb20;


/*UTILES*/
.left{float:left;}

.right{float:right;}

.border-bot{
  border-bottom:2px solid black;
}

.nopadding{padding:0;}

.nomargin{margin:0;}


/*NAV*/


.navbar{
  background-color:$white;

  .logo{padding:14px;}

  ul {
    li {
      font-size: 18px;
      display:inline;
    }
    a {
      color : $black;      
      padding: 0 20px;
    }
  }

  .nav-content{
    margin:0 auto;
    text-align:center;
  }

  border-bottom:2px solid black;
}

/*SUBMENU*/
#subMenu{
  margin-top: 195px;
  height:400px;
  padding:25px 0;

  div{
    position: relative;
    display: inline-block;
    width: auto;

    a{text-decoration: none;}

    h2 {      
      position: absolute;
      top: 45%;
      width: 100%;
      left: 0;

      text-align: center;
      font-size: 48px;
      color:#fff;

      margin: 0;
      padding: 0;
    }
  }
}

/*CALL TO ACTION */
#callToAction{
  height:500px;
  background-color: $yellow;

  color:$white;
  
  .slogan{height:100%;}

  h2{font-size:36px;}
  
  p{font-size:24px;}
  
  img {
    position:absolute;
    left:0px;
    bottom:0px;
  }

  .border{
    border: solid 2px #fff;
    margin:25px 25px;
    text-align: center;
  }

}

/*OST*/
#ost{
  height:300px;
  padding: 50px 0;
  .row div{
    h2{
      margin:0;
      padding-left: 30px;
      font-size: 70px;
    }
    img{
      height:150px;
      padding:10px 30px;
    }
    .big-cover{
      width:300px;
      height:auto;
    }
  }
}

/* Le store */
.storeList{
  h1{
    text-align: center;
    font-size: 75px;
    letter-spacing: 10px;
    font-weight: 600;
    padding-top: 250px;
  }
  h2{
    text-align: center;
    color: white;
    line-height: 150px;
    font-size: 60px;
    margin: 0;
    letter-spacing: 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.4);
  }
  .row{
    margin-bottom: 50px;
    .tile{
      height: 250px;
      padding: 50px 0;
      cursor: pointer;
    }
    .disques{
      background: url('../assets/imgs/leStore.jpg') top no-repeat;
    }
    .platines{
      background: url('../assets/imgs/laStory.jpg') center no-repeat;
    }
    .coffrets{
      background: url('../assets/imgs/coffrets.jpg') center no-repeat;
    }
  }
}


/*footer*/
footer{
  background: url('../assets/imgs/footer_bkg.jpg') top no-repeat; /*img à redimensionner sur photoshop*/
  height:260px;
  color: white;

  img{height:50px;}
}
